<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Profile Page</title>
</head>
<body >
    <nav>
        <div class="nav__content">
            <div class="logo">
                <a href="/">Just Johan</a>
            </div>
            <label for="check" class="checkbox">
                <i class="ri-menu-line"></i>
            </label>
            <input type="checkbox" name="check" id="check">
            <ul>
                <li class="active"><a href="/profile">Profile</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
    <section class="section">
        <div class="section__container">
            <div class="content">
                <h1 class="title">
                    I am <span>Michael Johan <br> </span> and here's what you need to know about me.
                </h1>
                <div class="card_body">
                    <div class="col-md-3">
                        <h5>Full name:</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        Michael Johan Adalla Gregorio
                    </div>
                    <div class="col-md-3">
                        <h5>Course, Year and Section:</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        BSCPE 2-6
                    </div>
                    <div class="col-md-3">
                        <h5>Age:</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        20 years old
                    </div>
                    <div class="col-md-3">
                        <h5>Address:</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        Valenzuela St., Sta. Mesa, Manila, Philippines
                    </div>
                    <div class="col-md-3">
                        <h5>Familiar Programming Languages:</h5>
                    </div>
                    <div class="col-md-9 text-secondary">
                        Python, HTML, CSS 
                    </div>
                </div>
                <div class="action__btns">
                    <button class="home">
                        <a href="/">
                            Home
                        </a>
                    </button>
                    <button class="works">
                        <a href="/works">
                            My Works
                        </a>
                    </button>
                </div>
            </div>
            <div class="image">
                <img src="{{url_for('static', filename='pic4.jpg')}}" alt="profile" />
            </div>
        </div>
    </section>
</body>
</html>
