<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Triangle</title>
    </head>
    <body >
        <nav>
            <div class="nav__content">
                <div class="logo">
                    <a href="/">Just Johan</a>
                </div>
                <label for="check" class="checkbox">
                    <i class="ri-menu-line"></i>
                </label>
                <input type="checkbox" name="check" id="check">
                <ul>
                    <li><a href="/profile">Profile</a></li>
                    <li class="active"><a href="/works">Works</a></li>
                    <li><a href="/contacts">Contact</a></li>
                </ul>
            </div>
        </nav>
        <section class="section">
            <div class="section__container">
                <div class="content">
                    <p class="subtitle">WORKS</p>
                    <h1 class="title">
                       <span>Area of a Triangle<br> </span>
                    </h1>
                    <p class="description">
                        This application computes the area of a triangle given the base and height you will input.
                    </p>
                    <div class="triangle">
                        <form action="/triangle" method="post">
                            <label for="input_base">Base:</label>
                            <input type="number" id="inputInteger" name="input_base" required>
                            <label for="input_height">Height:</label>
                            <input type="number" id="input_height" name="input_height" required>
                            <input type="submit" value="Find area" class="form-submit-button">
                        </form>
                
                        {% if result is not none %}
                        <p>Area of the triangle with base <em>{{ request.form.input_base }}</em> and height <em>{{ request.form.input_height }}</em> is 
                            <div class="thick__text">
                                {{ result }}
                            </div> 
                        </p>
                        {% endif %}
                    </div>
                    <ul class="ul__works">
                        <li><a href="/uppercase">toUpperCase</a></li>
                        <li><a href="/circle">Area of a Circle</a></li>
                        <li class="active"><a href="/triangle">Area of a Triangle</a></li>
                    </ul>
                    <div class="action__btns">
                        <button class="home">
                            <a href="/">
                                Home
                            </a>
                        </button>
                        <button class="works__now">
                            <a href="/works">
                                My Works
                            </a>
                        </button>
                    </div>
                </div>
                <div class="image">
                    <img src="{{url_for('static', filename='pic6.png')}}" alt="profile" />
                </div>
            </div>
        </section>
    </body>
</html>